.card {
  background-color: rgba(131, 174, 177, 0.288);
  width: 800px;
  height: 100%;
  left: 440px;
  block-size: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-body {
  align-items: center;
  width: auto;
  justify-content: center;
  min-height: auto;
  position: left;
}
.footer {
    text-align: center;
}
.WebContainer {
  width: 100%;
  min-width: 1000px;
  height: auto;

}
* {
  margin: 1;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100px;
  height: 100%;
  background: linear-gradient(
      -45deg,
      rgb(62, 226, 163),
      rgb(20, 165, 134),
      rgb(9, 95, 145),
      rgb(185, 65, 175),
      rgb(189, 17, 117),
      rgb(245, 42, 42),
      rgb(100, 7, 38)
    );
    
  background-size: 400% 400%;
  position: relative;
  animation: change 15s ease-in-out infinite;
}

@keyframes change {
  0% {
    background-position: 0 50%;
  }
  25% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}


#footer { margin: 0 auto; }
