
.card {
  background-color:rgba(131, 174, 177, 0.288);
  width: 800px;
  height: 100%;
  margin: auto;
}
.card-body {
  align-items:initial;
  width: auto;
  justify-content:center;
}

* {
    margin: 1;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100px;
    height: 100%;
    background: linear-gradient(-45deg,  rgb(62, 226, 163), #14a586, #095f91, #b941af, rgb(189, 17, 117),  #f52a2a), rgb(100, 7, 38);
    background-size: 400% 400%;
    position: relative;
    animation: change 15s ease-in-out infinite;
    background-image: url(https://i.pinimg.com/736x/26/ac/2f/26ac2ffc9597a1c51d0146fa0044ae42--page-borders-flower-borders.jpg);

}

@keyframes change {
    0%{
        background-position: 0 50%
    }
    25%{background-position: 50% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}